/0_Rh_111
/1_Rh_211
/1_QE_Rh_211
/2_Rh_111_re
/3_Rh_211_re
/4_Xu_data
/5_Xu_recalc
/6_Yang_recalc
/7_ref_adsorption
/8_NEB
/9_rebuttal
/a_parallel_quip
/Example
/obsolete_Example
__pycache__/
*.py[cod]
.ipynb_checkpoints
test.py
example.tar.gz
